html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button-link:hover{
    text-decoration: none;
}

.contents__ContentsText-sweomx-1 h2{
    margin: 3rem 0 1rem 0;
}


.contents__ContentsText-sweomx-1 img{
    width: 100%;
}

.contents__ContentsText-sweomx-1 .flex{
    display: flex;
    align-items: center;
}

.contents__ContentsText-sweomx-1 img.in-flex{
    flex: 1;
    width: 60%;
    margin-left: 2rem;
}

.contents__ContentsText-sweomx-1 p.in-flex{
    flex: 1;
}

.contents__ContentsText-sweomx-1 pre{
    padding: 1rem;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.87);
}

.contents__ContentsText-sweomx-1 code{
    color: #fff;
}

.contents__ContentsText-sweomx-1 ul{
    background-color: rgba(0,0,0,0.06);
    border-radius: 4px;
    padding: 1rem 2rem;
    list-style: none;
}

.contents__ContentsText-sweomx-1 li::before{
    content: "🔥";
    margin-right: 0.5rem;
}